# Project: Supervised Learing

## Predicting Red Hat Business Value

## 1. Classification vs Regression

In this competition, my goal is identifying  which customers have the most potential business value for Red Hat based on their characteristics and activities - which type of supervised machine learning problem is this.
classification or regression? why?

This is a classification problem. As I said the above, I am interested in the identifying which customers have the most potential business value for Red Hat based on their characteristics and activities. . Thus the model would need to predict predict which individuals they should approach—and even when and how to approach them, which a classifier algorithm would be most suitable for.

In [1]:
import numpy as np 
from pprint import pprint
import sklearn
import pandas as pd 
import time
from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, export_graphviz
%matplotlib inline

import os 
os.chdir('C:\Users\Administrator\Desktop')

# 2. Exploring the Data
Let's go ahead and read in redhat dataset first.

In [2]:
#people = pd.read_csv('people.csv')
df= pd.read_csv('act_train.csv')
#act_test = pd.read_csv('act_test.csv')

In [3]:
df

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
5,ppl_100,act2_898576,2023-08-04,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0
6,ppl_100002,act2_1233489,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
7,ppl_100002,act2_1623405,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
8,ppl_100003,act2_1111598,2023-02-07,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
9,ppl_100003,act2_1177453,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
10,ppl_100003,act2_133509,2022-08-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1
11,ppl_100003,act2_1408475,2023-03-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
12,ppl_100003,act2_1610829,2022-09-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
13,ppl_100003,act2_1688731,2023-02-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 297,1
14,ppl_100003,act2_1961720,2023-06-28,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1
15,ppl_100003,act2_1988351,2022-08-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
16,ppl_100003,act2_2198176,2022-08-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
17,ppl_100003,act2_2437661,2023-02-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
18,ppl_100003,act2_2476911,2023-03-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
19,ppl_100003,act2_2557270,2022-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 230,1
20,ppl_100003,act2_2581989,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
21,ppl_100003,act2_3116385,2023-02-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
22,ppl_100003,act2_3159712,2022-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
23,ppl_100003,act2_3292005,2023-05-03,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
24,ppl_100003,act2_3461867,2023-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
25,ppl_100003,act2_3468306,2023-03-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
26,ppl_100003,act2_3867292,2023-02-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
27,ppl_100003,act2_3990676,2023-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1
28,ppl_100003,act2_4102292,2023-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
29,ppl_100003,act2_4160587,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,ppl_99994,act2_2053669,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197262,ppl_99994,act2_2053762,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197263,ppl_99994,act2_2134893,2023-08-23,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1396,1
2197264,ppl_99994,act2_2139237,2023-06-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197265,ppl_99994,act2_2233766,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197266,ppl_99994,act2_2499779,2023-02-19,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 61,1
2197267,ppl_99994,act2_2514377,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197268,ppl_99994,act2_2537795,2023-01-12,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197269,ppl_99994,act2_2582736,2023-06-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197270,ppl_99994,act2_2674371,2023-06-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197271,ppl_99994,act2_2808953,2023-05-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197272,ppl_99994,act2_2840212,2023-08-25,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,1
2197273,ppl_99994,act2_2992386,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197274,ppl_99994,act2_3177773,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197275,ppl_99994,act2_3284072,2023-07-14,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197276,ppl_99994,act2_3373847,2023-02-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197277,ppl_99994,act2_3534467,2023-08-17,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197278,ppl_99994,act2_3903321,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197279,ppl_99994,act2_4024188,2023-01-12,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 520,1
2197280,ppl_99994,act2_4355021,2023-02-23,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 602,1
2197281,ppl_99994,act2_4433480,2023-01-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197282,ppl_99994,act2_4440524,2023-08-17,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 759,1
2197283,ppl_99994,act2_4473896,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197284,ppl_99994,act2_4479985,2023-07-14,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 142,1
2197285,ppl_99994,act2_4581579,2023-01-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197286,ppl_99994,act2_4668076,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197287,ppl_99994,act2_4743548,2023-03-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1
2197288,ppl_99994,act2_536973,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197289,ppl_99994,act2_688656,2023-05-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1
2197290,ppl_99994,act2_715089,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

# 3. Preparing the Data
In this section, I am going to prepare the data for modeling, training and testing. Identify feature and target columns
It is often the case that the data data analyst obtain contains non-numeric features. This can be a problem, as most machine learning algorithms expect numeric data to perform computations with. Let's first separate our data into feature and target columns, and see if any features are non-numeric.

In [4]:
df.columns

Index([u'people_id', u'activity_id', u'date', u'activity_category', u'char_1',
       u'char_2', u'char_3', u'char_4', u'char_5', u'char_6', u'char_7',
       u'char_8', u'char_9', u'char_10', u'outcome'],
      dtype='object')

In [5]:
df.dtypes

people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome               int64
dtype: object

In [6]:
df.char_2.value_counts().sum

<bound method Series.sum of type 2     50524
type 5     31794
type 1     21616
type 3      9810
type 16     7551
type 10     6932
type 8      5306
type 6      5293
type 12     3239
type 14     2807
type 9      2578
type 7      2311
type 13     1851
type 19     1311
type 17     1059
type 15      797
type 4       781
type 18      583
type 20      326
type 26      272
type 11      234
type 29      161
type 22      112
type 25       95
type 24       77
type 23       73
type 21       52
type 27       35
type 28       17
type 31        7
type 30        7
type 32        4
Name: char_2, dtype: int64>

## 3.1 Label encoding across multiple columns in scikit-learn
As you can see the above, the dataframe has many columns with none binary categories(this can not be converted into 1/0 (binary) values).it means, If I choose the approach that creates a LabelEncoder object for each colum, there are so tedious works to do for me. 
 SO, I decide to avoid creating a LabelEncoder object for each column. My choice is to create a multi-column LabelEncoder() instead.

In [7]:

df = df.fillna('0', axis=0)

In [8]:
# this solution for applying LabelEncoder() across multiple columns was suggested in the following thread
# http://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns 

    def fit(self,X,y=None):
        return self

    def transform(self,X):
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [9]:
def processor(data):
    data = MultiColumnLabelEncoder(columns = ['people_id', 'activity_id', 'date', 'activity_category', 'char_1',\
                                              'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7',\
                                              'char_8', 'char_9', 'char_10']).fit_transform(df)
    

    
    return data

In [10]:
df_encoded = processor(df)

In [11]:
df_encoded

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,0,503691,405,3,0,0,0,0,0,0,0,0,0,5383,0
1,0,832759,72,1,0,0,0,0,0,0,0,0,0,1,0
2,0,1289703,72,1,0,0,0,0,0,0,0,0,0,1,0
3,0,1406406,383,1,0,0,0,0,0,0,0,0,0,1,0
4,0,1623050,405,1,0,0,0,0,0,0,0,0,0,1,0
5,0,2149451,383,3,0,0,0,0,0,0,0,0,0,763,0
6,1,267580,129,1,0,0,0,0,0,0,0,0,0,1,1
7,1,450949,129,1,0,0,0,0,0,0,0,0,0,1,1
8,2,210178,205,1,0,0,0,0,0,0,0,0,0,1,1
9,2,241247,346,1,0,0,0,0,0,0,0,0,0,1,1
10,2,315331,24,3,0,0,0,0,0,0,0,0,0,6318,1
11,2,349796,228,3,0,0,0,0,0,0,0,0,0,456,1
12,2,445066,58,1,0,0,0,0,0,0,0,0,0,1,1
13,2,481937,208,3,0,0,0,0,0,0,0,0,0,1952,1
14,2,610184,346,3,0,0,0,0,0,0,0,0,0,1710,1
15,2,622840,37,1,0,0,0,0,0,0,0,0,0,1,1
16,2,721810,30,1,0,0,0,0,0,0,0,0,0,1,1
17,2,834368,200,1,0,0,0,0,0,0,0,0,0,1,1
18,2,852936,228,1,0,0,0,0,0,0,0,0,0,1,1
19,2,890902,44,3,0,0,0,0,0,0,0,0,0,1331,1
20,2,902534,219,1,0,0,0,0,0,0,0,0,0,1,1
21,2,1154076,213,1,0,0,0,0,0,0,0,0,0,1,1
22,2,1174623,44,1,0,0,0,0,0,0,0,0,0,1,1
23,2,1236939,290,1,0,0,0,0,0,0,0,0,0,1,1
24,2,1317030,381,1,0,0,0,0,0,0,0,0,0,1,1
25,2,1320056,228,3,0,0,0,0,0,0,0,0,0,456,1
26,2,1508748,208,1,0,0,0,0,0,0,0,0,0,1,1
27,2,1567119,409,3,0,0,0,0,0,0,0,0,0,1775,1
28,2,1619888,409,1,0,0,0,0,0,0,0,0,0,1,1
29,2,1647353,219,1,0,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,151294,653497,186,1,0,0,0,0,0,0,0,0,0,1,1
2197262,151294,653543,334,3,0,0,0,0,0,0,0,0,0,3058,1
2197263,151294,691901,402,3,0,0,0,0,0,0,0,0,0,423,1
2197264,151294,693935,345,1,0,0,0,0,0,0,0,0,0,1,1
2197265,151294,738586,346,1,0,0,0,0,0,0,0,0,0,1,1
2197266,151294,863761,217,2,0,0,0,0,0,0,0,0,0,4345,1
2197267,151294,870770,333,1,0,0,0,0,0,0,0,0,0,1,1
2197268,151294,881751,179,1,0,0,0,0,0,0,0,0,0,1,1
2197269,151294,902883,334,1,0,0,0,0,0,0,0,0,0,1,1
2197270,151294,945953,334,1,0,0,0,0,0,0,0,0,0,1,1
2197271,151294,1009256,289,1,0,0,0,0,0,0,0,0,0,1,1
2197272,151294,1023902,404,3,0,0,0,0,0,0,0,0,0,5383,1
2197273,151294,1095406,333,3,0,0,0,0,0,0,0,0,0,1049,1
2197274,151294,1183136,333,3,0,0,0,0,0,0,0,0,0,1049,1
2197275,151294,1233178,362,1,0,0,0,0,0,0,0,0,0,1,1
2197276,151294,1275466,214,1,0,0,0,0,0,0,0,0,0,1,1
2197277,151294,1351441,396,1,0,0,0,0,0,0,0,0,0,1,1
2197278,151294,1525871,334,3,0,0,0,0,0,0,0,0,0,3058,1
2197279,151294,1582843,179,3,0,0,0,0,0,0,0,0,0,3845,1
2197280,151294,1739084,221,3,0,0,0,0,0,0,0,0,0,4311,1
2197281,151294,1776077,191,1,0,0,0,0,0,0,0,0,0,1,1
2197282,151294,1779436,396,3,0,0,0,0,0,0,0,0,0,5375,1
2197283,151294,1795190,333,3,0,0,0,0,0,0,0,0,0,3058,1
2197284,151294,1798038,362,3,0,0,0,0,0,0,0,0,0,446,1
2197285,151294,1845769,180,1,0,0,0,0,0,0,0,0,0,1,1
2197286,151294,1886470,334,3,0,0,0,0,0,0,0,0,0,3058,1
2197287,151294,1922025,256,3,0,0,0,0,0,0,0,0,0,872,1
2197288,151294,1979150,186,1,0,0,0,0,0,0,0,0,0,1,1
2197289,151294,2050555,289,3,0,0,0,0,0,0,0,0,0,1028,1
2197290,151294,2063013,333,1,0,0,0,0,0,0,0,0,0,1,1

In [12]:
df_encoded.dtypes

people_id            int64
activity_id          int64
date                 int64
activity_category    int64
char_1               int64
char_2               int64
char_3               int64
char_4               int64
char_5               int64
char_6               int64
char_7               int64
char_8               int64
char_9               int64
char_10              int64
outcome              int64
dtype: object

In [13]:
df = df_encoded.drop(['date','activity_id'],axis=1)

In [14]:
features = list(df.columns[:-1])
labels = df.columns[-1]

In [15]:
# Extract feature (X) and target (y) columns
features = list(df.columns[:-1])  # all columns but last are features
labels= df.columns[-1]  # last column is the target/label
print "Feature column(s):-\n{}".format(features)
print "Target column: {}".format(labels)

X_all = df[features]  # feature values for all students
y_all = df[labels]  # corresponding targets/labels
print "\nFeature values:-"
print X_all.head()  # print the first 5 rows

Feature column(s):-
['people_id', 'activity_category', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10']
Target column: outcome

Feature values:-
   people_id  activity_category  char_1  char_2  char_3  char_4  char_5  \
0          0                  3       0       0       0       0       0
1          0                  1       0       0       0       0       0
2          0                  1       0       0       0       0       0
3          0                  1       0       0       0       0       0
4          0                  1       0       0       0       0       0

   char_6  char_7  char_8  char_9  char_10
0       0       0       0       0     5383
1       0       0       0       0        1
2       0       0       0       0        1
3       0       0       0       0        1
4       0       0       0       0        1


## 3.1 Split data into training and test sets
So far, I have been encoding across multiple columns from object dtype to int64. now , In this next step, I am going to  split the data (both features and corresponding labels) into training and test sets.

In [16]:
n_df = df.shape[0]
print "Total number of df : {}".format(n_df)

# First, decide how many training vs test samples you want.Then, select features (X) and corresponding labels (y) for the training and test sets
num_all = df.shape[0]  # same as len(student_data)
num_train = 1647968  # about 75% of the data
num_test = num_all - num_train

# TODO: Then, select features (X) and corresponding labels (y) for the training and test sets
# Note: Shuffle the data or randomly select samples to avoid any bias due to ordering in the dataset
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, train_size=num_train, random_state=100)
print "Training set: {} samples".format(X_train.shape[0])
print "Test set: {} samples".format(X_test.shape[0])

Total number of df : 2197291
Training set: 1647968 samples
Test set: 549323 samples

# 4. Training and Evaluating Models

In [17]:
import time

def train_classifier(clf, X_train, y_train):
    print "Training {}...".format(clf.__class__.__name__)
    start = time.time()
    clf.fit(X_train, y_train)
    end = time.time()
    print "Done!\nTraining time (secs): {:.3f}".format(end - start)

# TODO: Choose a model, import it and instantiate an object
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
train_classifier(clf, X_train, y_train)



print clf

Training GaussianNB...
Done!
Training time (secs): 0.853
GaussianNB()

In [18]:
from sklearn.metrics import f1_score

def predict_labels(clf,features, target):
    print "Predicting labels using {}...".format(clf.__class__.__name__)
    start = time.time()
    y_pred = clf.predict(features)
    end = time.time()
    print "Done!\nPrediction time (secs): {:.3f}".format(end-start)
    return f1_score(y_pred, target.values)

train_f1_score = predict_labels(clf, X_train, y_train)
print "F1 score for training set: {}".format(train_f1_score)

Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.858
F1 score for training set: 0.294623054912

In [19]:
print "F1 score for test set: {}".format(predict_labels(clf, X_test, y_test))

Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.319
F1 score for test set: 0.293730457244

In [20]:
print len(X_train[:200])

200

In [21]:
 # Train and predict using different training set sizes
def train_predict(clf, X_train, y_train, X_test, y_test):
    print "------------------------------------------"
    print "Training set size: {}".format(len(X_train))
    train_classifier(clf, X_train, y_train)
    print "F1 score for training set: {}".format(predict_labels(clf, X_train, y_train))
    print "F1 score for test set: {}".format(predict_labels(clf, X_test, y_test))

# TODO: Run the helper function above for desired subsets of training data
# Note: Keep the test set constant
train_predict(clf, X_train[:100], y_train[:100], X_test, y_test)
train_predict(clf, X_train[:200], y_train[:200], X_test, y_test)
train_predict(clf, X_train, y_train, X_test, y_test)

------------------------------------------
Training set size: 100
Training GaussianNB...
Done!
Training time (secs): 0.001
Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.001
F1 score for training set: 0.650406504065
Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.303
F1 score for test set: 0.571958763484
------------------------------------------
Training set size: 200
Training GaussianNB...
Done!
Training time (secs): 0.001
Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.000
F1 score for training set: 0.155339805825
Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.288
F1 score for test set: 0.109570007019
------------------------------------------
Training set size: 1647968
Training GaussianNB...
Done!
Training time (secs): 0.781
Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.853
F1 score for training set: 0.294623054912
Predicting labels using GaussianNB...
Done!
Prediction time (secs): 0.294
F1 score for test set: 0.293730457244

In [22]:
"""# Now repeat the above process with 3 other algorithms: 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

# K-Nearest Neighbors 
train_predict(KNeighborsClassifier(), X_train, y_train, X_test, y_test)
train_predict(KNeighborsClassifier(), X_train[0:200], y_train[0:200], X_test, y_test)
train_predict(KNeighborsClassifier(), X_train[0:100], y_train[0:100], X_test, y_test)

# Random Forests:
train_predict(RandomForestClassifier(), X_train, y_train, X_test, y_test)
train_predict(RandomForestClassifier(), X_train[0:200], y_train[0:200], X_test, y_test)
train_predict(RandomForestClassifier(), X_train[0:100], y_train[0:100], X_test, y_test)

# LinearSVC:
train_predict(LinearSVC(), X_train, y_train, X_test, y_test)
train_predict(LinearSVC(), X_train[0:200], y_train[0:200], X_test, y_test)
train_predict(LinearSVC(), X_train[0:100], y_train[0:100], X_test, y_test)"""

'# Now repeat the above process with 3 other algorithms: \n\nfrom sklearn.neighbors import KNeighborsClassifier\nfrom sklearn.ensemble import RandomForestClassifier\nfrom sklearn.svm import LinearSVC\n\n# K-Nearest Neighbors \ntrain_predict(KNeighborsClassifier(), X_train, y_train, X_test, y_test)\ntrain_predict(KNeighborsClassifier(), X_train[0:200], y_train[0:200], X_test, y_test)\ntrain_predict(KNeighborsClassifier(), X_train[0:100], y_train[0:100], X_test, y_test)\n\n# Random Forests:\ntrain_predict(RandomForestClassifier(), X_train, y_train, X_test, y_test)\ntrain_predict(RandomForestClassifier(), X_train[0:200], y_train[0:200], X_test, y_test)\ntrain_predict(RandomForestClassifier(), X_train[0:100], y_train[0:100], X_test, y_test)\n\n# LinearSVC:\ntrain_predict(LinearSVC(), X_train, y_train, X_test, y_test)\ntrain_predict(LinearSVC(), X_train[0:200], y_train[0:200], X_test, y_test)\ntrain_predict(LinearSVC(), X_train[0:100], y_train[0:100], X_test, y_test)'

# 5. GridSearch CV

Grid search is a model hyperparameter optimization technique. before diving into how to use GridSearch in sklearn, Iam going to train and test a decision tree with default parameters

In [22]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz

clf = DecisionTreeClassifier(random_state = 53)
clf = clf.fit(X_train, y_train)


print "Descision tree accuracy score:"
print clf.score(X_test, y_test)

print "\nDecision tree parameters"
pprint(clf.get_params())

Descision tree accuracy score:
0.916506317777

Decision tree parameters
{'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': False,
 'random_state': 53,
 'splitter': 'best'}

In [23]:
export_graphviz(clf,out_file='tree.dot')

In [ ]:

%%cmd

dot -Tps tree.dot -o tree.ps

In [ ]:
from IPython.display import Image 
from sklearn.externals.six import StringIO
import pydot
dot_data = StringIO()  
export_graphviz(clf, out_file=dot_data)  
graph = pydot.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

# 5.1 GridSearch continue

So far, I ran the descision tree using defaults for the parameters. These could be the best choices for the parameters or not. In case of large number of parameters to test, one way to improve my scores is with a GridSearch.
This technique allows us to search through all combinations of a set of parameters for a model in order to determine which combination is most effective. The parameters of the model are optimized by a cross-validated grid search over a parameter grid.

In scikit-learn, this technique is provided in the GridSearchCV class.

When constructing this class you must provide a dictionary of hyperparameters to evaluate in the param_grid argument. This is a map of the model parameter name and an array of values to try.

By default, accuracy is the score that is optimized, but other scores can be specified in the score argument of the GridSearchCV constructor.

By default the grid search will only use one thread. By setting the n_jobs argument in the GridSearchCV constructor to -1, the process will use all cores on the machine.

The GridSearchCV process when then construct and evaluate one model for each combination of parameters. Cross validation is used to evaluate each individual model and the default of 3-fold cross validation is used, although this can be overridden by specifying the cv argument to the GridSearchCV constructor.

In [23]:
from sklearn import grid_search
# creat a dict with all of the parameters
param_grid = {'min_samples_split' : [1, 5, 10, 15, 20, 25, 30],
              'max_depth' : [4, 5, 6, 7, 8]}

# create GridSearch object with param_grid
gridCV_object = grid_search.GridSearchCV(estimator = DecisionTreeClassifier(random_state = 53),
                                         param_grid = param_grid,
                                         cv = 5)

#fit to the data
gridCV_object.fit(X_train, y_train)

print "Best parameters from parameter grid:"
pprint(gridCV_object.best_params_)

#  the best estimator
clf_2 = gridCV_object.best_estimator_

# best param for the best estimator.
print "\nComplete set of parameters for best estimator:"
pprint(clf_2.get_params())

# check scores
print "\nAccuracy score for default, decision tree:"
print clf.score(X_test, y_test)

print "\nAccuracy score for best estimator from gridSearch"
print clf_2.score(X_test, y_test)

Best parameters from parameter grid:
{'max_depth': 8, 'min_samples_split': 5}

Complete set of parameters for best estimator:
{'class_weight': None,
 'criterion': 'gini',
 'max_depth': 8,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'min_weight_fraction_leaf': 0.0,
 'presort': False,
 'random_state': 53,
 'splitter': 'best'}

Accuracy score for default, decision tree:
0.916506317777

Accuracy score for best estimator from gridSearch
0.597719374576

# 5.2 Pipelines

A pipeline is a complete classifier object. it can be used with .fit() and .predict()

Pipelines allow users apply a list of transforms together with a final estimator and is very useful in case of varying the parameters of transform as well as the params of the classifier.

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer
from sklearn.decomposition import PCA

pipeline = Pipeline([('imp', Imputer()),
                     ('std', StandardScaler()),
                     ('pca', PCA()),
                     ('clf', DecisionTreeClassifier(random_state = 53)),
                    ])

pipeline = pipeline.fit(X_train, y_train)

print "Pipeline Accuracy Score"
print pipeline.score(X_test, y_test)

print "\nPipeline params:"
pprint(pipeline.get_params())

Pipeline Accuracy Score
0.91407241277

Pipeline params:
{'clf': DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=53, splitter='best'),
 'clf__class_weight': None,
 'clf__criterion': 'gini',
 'clf__max_depth': None,
 'clf__max_features': None,
 'clf__max_leaf_nodes': None,
 'clf__min_samples_leaf': 1,
 'clf__min_samples_split': 2,
 'clf__min_weight_fraction_leaf': 0.0,
 'clf__presort': False,
 'clf__random_state': 53,
 'clf__splitter': 'best',
 'imp': Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0),
 'imp__axis': 0,
 'imp__copy': True,
 'imp__missing_values': 'NaN',
 'imp__strategy': 'mean',
 'imp__verbose': 0,
 'pca': PCA(copy=True, n_components=None, whiten=False),
 'pca__copy': True,
 'pca__n_components': None,
 'pca__whiten': False,
 'std': StandardScaler(copy=True, with_mean=True, with_std=True),
 'std__copy': True,
 'std__with_mean': True,
 'std__with_std': True,
 'steps': [('imp',
            Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)),
           ('std', StandardScaler(copy=True, with_mean=True, with_std=True)),
           ('pca', PCA(copy=True, n_components=None, whiten=False)),
           ('clf',
            DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=53, splitter='best'))]}

# 5.3 Pipeline and GridSearchCV together

In [ ]:

# creat a dict with all of the parameters
param_grid = {'imp__strategy': ['median'],
              'clf__min_samples_split': [1, 5, 10, 15, 20, 25, 30],
              'clf__max_depth': [4, 5, 6, 7, 8],
              'pca__n_components':[2, 3, 4, 5, 6, 7]}
# create GridSearch object with param_grid
gridCV_object = grid_search.GridSearchCV(estimator = pipeline,
                                         param_grid = param_grid,
                                         cv = 8)

#fit to the data
gridCV_object.fit(X_train, y_train)

print "Best parameters from parameter grid:"
pprint(gridCV_object.best_params_)

#  the best estimator
pipeline_clf = gridCV_object.best_estimator_



# check scores
print "\nBest estimator accuracy score:"
print pipeline_clf.score(X_test, y_test)